<a href="https://colab.research.google.com/github/tintenderete/TFM/blob/main/individuos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Define el número de periodos y el número de activos
num_periods = 10
num_assets = 2

In [ ]:
closing_prices = 2 * np.random.rand(num_periods, num_assets) - 1

In [ ]:
pd_closing_prices = pd.DataFrame(closing_prices)

In [ ]:
pd_closing_prices.head()

          0         1
0  0.424464 -0.735064
1  0.296063 -0.415928
2 -0.768917  0.561188
3 -0.596808 -0.362448
4 -0.760255 -0.617200

In [ ]:
pd_mean = pd_closing_prices.rolling(window=3).mean().fillna(0)
pd_mean.head()

          0         1
0  0.000000  0.000000
1  0.000000  0.000000
2 -0.016130 -0.196601
3 -0.356554 -0.072396
4 -0.708660 -0.139486

In [ ]:
pd_std = pd_closing_prices.rolling(window=3).std().fillna(0)
pd_std.head()

          0         1
0  0.000000  0.000000
1  0.000000  0.000000
2  0.655086  0.675385
3  0.571697  0.549351
4  0.096963  0.620027

In [ ]:
tabla_aux = np.ones((num_periods, num_assets,3))

In [ ]:
tabla_aux[:,:,0] = pd_closing_prices
tabla_aux[:,:,1] = pd_mean
tabla_aux[:,:,2] = pd_std

In [ ]:
tabla_aux[:,:,2]

array([[0.        , 0.        ],
       [0.        , 0.        ],
       [0.65508649, 0.6753854 ],
       [0.57169703, 0.54935092],
       [0.09696339, 0.62002675],
       [0.0858276 , 0.32180112],
       [0.11374826, 0.74373083],
       [0.88160368, 0.50625629],
       [0.92451267, 0.98846132],
       [0.95655638, 1.01418764]])

In [ ]:
tabla_aux.shape

(10, 2, 3)

In [ ]:
tabla_aux.reshape(10 // 2, 2, 2, 3 ).shape

(5, 2, 2, 3)

In [ ]:
np.random.rand(5, 5, 5, 5)

In [ ]:
"""
Conv1D layer


input shape     batch_shape + (steps, input_dim)

Output shape    batch_shape + (new_steps, filters) 

"""

'\nConv1D layer\n\n\ninput shape     batch_shape + (steps, input_dim)\n\nOutput shape    batch_shape + (new_steps, filters) \n\n'

In [ ]:
data = np.random.rand(100, 60, 35)
data.shape

(100, 60, 35)

In [ ]:
from keras.models import Sequential
from keras.layers import Conv1D, MaxPooling1D, Flatten, Dense

In [ ]:
data = np.random.rand(100, 60, 35)
data.shape

modelConv1D = Sequential()
modelConv1D.add(Conv1D(filters = 4, kernel_size = 2, input_shape=(data.shape[1], data.shape[2],)))
modelConv1D.compile()
modelConv1D.layers[0].input_shape, modelConv1D.layers[0].output_shape

res = modelConv1D(data)
res.shape

((None, 60, 35), (None, 59, 4))

In [ ]:
res = modelConv1D(data)
res.shape

TensorShape([100, 59, 4])

# ( BATCH, A , B )

In [ ]:
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv1D, LSTM, GRU, SimpleRNN, TimeDistributed, Bidirectional, ConvLSTM2D, SeparableConv1D, MaxPooling1D, AveragePooling1D

In [ ]:


# Define los datos de entrada
data = np.random.rand(100, 60, 35)

# Dense
modelDense = Sequential()
modelDense.add(Dense(4, input_shape=(data.shape[1], data.shape[2])))
modelDense.compile()
print(" modelDense " + " IN : " + str(modelDense.layers[0].input_shape) + " OUT : " +  str(modelDense.layers[0].output_shape))

# LSTM
modelLSTM = Sequential()
modelLSTM.add(LSTM(4, input_shape=(data.shape[1], data.shape[2])))
modelLSTM.compile()
print(" modelLSTM " + " IN : " + str(modelLSTM.layers[0].input_shape) + " OUT : " +  str(modelLSTM.layers[0].output_shape))
# GRU
modelGRU = Sequential()
modelGRU.add(GRU(4, input_shape=(data.shape[1], data.shape[2])))
modelGRU.compile()

print(" modelGRU " + " IN : " + str(modelGRU.layers[0].input_shape) + " OUT : " +  str(modelGRU.layers[0].output_shape))
# SimpleRNN
modelSimpleRNN = Sequential()
modelSimpleRNN.add(SimpleRNN(4, input_shape=(data.shape[1], data.shape[2])))
modelSimpleRNN.compile()

print(" modelSimpleRNN " + " IN : " + str(modelSimpleRNN.layers[0].input_shape) + " OUT : " +  str(modelSimpleRNN.layers[0].output_shape))
# TimeDistributed
modelTimeDistributed = Sequential()
modelTimeDistributed.add(TimeDistributed(Dense(4), input_shape=(data.shape[1], data.shape[2])))
modelTimeDistributed.compile()

print(" modelTimeDistributed " + " IN : " + str(modelTimeDistributed.layers[0].input_shape) + " OUT : " +  str(modelTimeDistributed.layers[0].output_shape))
# Bidirectional
modelBidirectional = Sequential()
modelBidirectional.add(Bidirectional(LSTM(4), input_shape=(data.shape[1], data.shape[2])))
modelBidirectional.compile()
print(" modelBidirectional " + " IN : " + str(modelBidirectional.layers[0].input_shape) + " OUT : " +  str(modelBidirectional.layers[0].output_shape))
# SeparableConv1D
modelSeparableConv1D = Sequential()
modelSeparableConv1D.add(SeparableConv1D(4, 3, input_shape=(data.shape[1], data.shape[2])))
modelSeparableConv1D.compile()

print(" modelSeparableConv1D " + " IN : " + str(modelSeparableConv1D.layers[0].input_shape) + " OUT : " +  str(modelSeparableConv1D.layers[0].output_shape))
# MaxPooling1D
modelMaxPooling1D = Sequential()
modelMaxPooling1D.add(MaxPooling1D(pool_size=2, input_shape=(data.shape[1], data.shape[2])))
modelMaxPooling1D.compile()

print(" modelMaxPooling1D " + " IN : " + str(modelMaxPooling1D.layers[0].input_shape) + " OUT : " +  str(modelMaxPooling1D.layers[0].output_shape))
# AveragePooling1D
modelAveragePooling1D = Sequential()
modelAveragePooling1D.add(AveragePooling1D(pool_size=2, input_shape=(data.shape[1], data.shape[2])))
modelAveragePooling1D.compile()
modelLSTM.compile()
print(" modelAveragePooling1D " + " IN : " + str(modelAveragePooling1D.layers[0].input_shape) + " OUT : " +  str(modelAveragePooling1D.layers[0].output_shape))

 modelDense  IN : (None, 60, 35) OUT : (None, 60, 4)
 modelLSTM  IN : (None, 60, 35) OUT : (None, 4)
 modelGRU  IN : (None, 60, 35) OUT : (None, 4)
 modelSimpleRNN  IN : (None, 60, 35) OUT : (None, 4)
 modelTimeDistributed  IN : (None, 60, 35) OUT : (None, 60, 4)
 modelBidirectional  IN : (None, 60, 35) OUT : (None, 8)
 modelSeparableConv1D  IN : (None, 60, 35) OUT : (None, 58, 4)
 modelMaxPooling1D  IN : (None, 60, 35) OUT : (None, 30, 35)
 modelAveragePooling1D  IN : (None, 60, 35) OUT : (None, 30, 35)

# ( BATCH, A, B, C)

In [ ]:
from tensorflow.keras.layers import Conv2D, SeparableConv2D

In [ ]:
# Define los datos de entrada
data = np.random.rand(100, 60, 35, 3)
data.shape

(100, 60, 35, 3)

In [ ]:
modelConv2D = Sequential()
modelConv2D.add(Conv2D(filters = 4, kernel_size = (2, 2), input_shape=(60, 35, 3)))
modelConv2D.compile()
print(" modelConv2D " + " IN : " + str(modelConv2D.layers[0].input_shape) + " OUT : " +  str(modelConv2D.layers[0].output_shape))


modelSeparableConv2D = Sequential()
modelSeparableConv2D.add(SeparableConv2D(4, (3, 3), input_shape=(60, 35, 3)))
modelSeparableConv2D.compile()
print(" modelSeparableConv2D " + " IN : " + str(modelSeparableConv2D.layers[0].input_shape) + " OUT : " +  str(modelSeparableConv2D.layers[0].output_shape))

from tensorflow.keras.layers import DepthwiseConv2D

modelDepthwiseConv2D = Sequential()
modelDepthwiseConv2D.add(DepthwiseConv2D((3, 3), input_shape=(60, 35, 3)))
modelDepthwiseConv2D.compile()
print(" modelDepthwiseConv2D " + " IN : " + str(modelDepthwiseConv2D.layers[0].input_shape) + " OUT : " +  str(modelDepthwiseConv2D.layers[0].output_shape))

from tensorflow.keras.layers import MaxPooling2D, AveragePooling2D

modelMaxPooling2D = Sequential()
modelMaxPooling2D.add(MaxPooling2D(pool_size=(2, 2), input_shape=(60, 35, 3)))
modelMaxPooling2D.compile()
print(" modelMaxPooling2D " + " IN : " + str(modelMaxPooling2D.layers[0].input_shape) + " OUT : " +  str(modelMaxPooling2D.layers[0].output_shape))

modelAveragePooling2D = Sequential()
modelAveragePooling2D.add(AveragePooling2D(pool_size=(2, 2), input_shape=(data.shape[1], data.shape[2], data.shape[3])))
modelAveragePooling2D.compile()
print(" modelAveragePooling2D " + " IN : " + str(modelAveragePooling2D.layers[0].input_shape) + " OUT : " +  str(modelAveragePooling2D.layers[0].output_shape))


from tensorflow.keras.layers import Conv2DTranspose

modelConv2DTranspose = Sequential()
modelConv2DTranspose.add(Conv2DTranspose(4, (3, 3), input_shape=(60, 35, 3)))
modelConv2DTranspose.compile()
print(" modelConv2DTranspose " + " IN : " + str(modelConv2DTranspose.layers[0].input_shape) + " OUT : " +  str(modelConv2DTranspose.layers[0].output_shape))

from tensorflow.keras.layers import UpSampling2D

modelUpSampling2D = Sequential()
modelUpSampling2D.add(UpSampling2D(size=(2, 2), input_shape=(60, 35, 3)))
modelUpSampling2D.compile()
print(" modelUpSampling2D " + " IN : " + str(modelUpSampling2D.layers[0].input_shape) + " OUT : " +  str(modelUpSampling2D.layers[0].output_shape))

from tensorflow.keras.layers import ZeroPadding2D

modelZeroPadding2D = Sequential()
modelZeroPadding2D.add(ZeroPadding2D(padding=(1, 1), input_shape=(60, 35, 3)))
modelZeroPadding2D.compile()
print(" modelZeroPadding2D " + " IN : " + str(modelZeroPadding2D.layers[0].input_shape) + " OUT : " +  str(modelZeroPadding2D.layers[0].output_shape))

# Dense
modelDense = Sequential()
modelDense.add(Dense(4, input_shape=(60, 35, 3)))
modelDense.compile()
print(" modelDense " + " IN : " + str(modelDense.layers[0].input_shape) + " OUT : " +  str(modelDense.layers[0].output_shape))

 modelConv2D  IN : (None, 60, 35, 3) OUT : (None, 59, 34, 4)
 modelSeparableConv2D  IN : (None, 60, 35, 3) OUT : (None, 58, 33, 4)
 modelDepthwiseConv2D  IN : (None, 60, 35, 3) OUT : (None, 58, 33, 3)
 modelMaxPooling2D  IN : (None, 60, 35, 3) OUT : (None, 30, 17, 3)
 modelAveragePooling2D  IN : (None, 60, 35, 3) OUT : (None, 30, 17, 3)
 modelConv2DTranspose  IN : (None, 60, 35, 3) OUT : (None, 62, 37, 4)
 modelUpSampling2D  IN : (None, 60, 35, 3) OUT : (None, 120, 70, 3)
 modelZeroPadding2D  IN : (None, 60, 35, 3) OUT : (None, 62, 37, 3)
 modelDense  IN : (None, 60, 35, 3) OUT : (None, 60, 35, 4)

In [ ]:
from tensorflow.keras.layers import ConvLSTM2D

# Supongamos que tenemos datos con forma (100, 60, 35, 3, 1), donde:
# - 100 es el número de muestras
# - 60 es el número de pasos de tiempo
# - 35 y 3 son las dimensiones espaciales
# - 1 es el número de canales
data = np.random.rand(100, 60, 35, 3, 1)

model = Sequential()
model.add(ConvLSTM2D(filters=10, kernel_size=(3, 3), input_shape=(60, 35, 3, 1)))
model.compile()
print(" ConvLSTM2D " + " IN : " + str(model.layers[0].input_shape) + " OUT : " +  str(model.layers[0].output_shape))

 ConvLSTM2D  IN : (None, 60, 35, 3, 1) OUT : (None, 33, 1, 10)

In [ ]:
from tensorflow.keras.layers import ConvLSTM1D

data = np.random.rand(100, 60, 35, 3)

model = Sequential()
model.add(ConvLSTM1D(filters=10,kernel_size = 2, input_shape=(60, 35, 3)))
model.compile()
print(" ConvLSTM1D " + " IN : " + str(model.layers[0].input_shape) + " OUT : " +  str(model.layers[0].output_shape))

 ConvLSTM1D  IN : (None, 60, 35, 3) OUT : (None, 34, 10)

In [ ]:
from tensorflow.keras.layers import ConvLSTM3D

data = np.random.rand(100, 60, 35, 3,1,1)

model = Sequential()
model.add(ConvLSTM3D(filters=10,kernel_size = (1, 1, 1), input_shape=(60, 35, 3,1,1)))
model.compile()
print(" ConvLSTM1D " + " IN : " + str(model.layers[0].input_shape) + " OUT : " +  str(model.layers[0].output_shape))

 ConvLSTM1D  IN : (None, 60, 35, 3, 1, 1) OUT : (None, 35, 3, 1, 10)